{{header = True}}
{{sidebar = True}}
{{bread = True}}
{{extend 'layout.html'}}
{{block head}}
<style>
.block-margin{
    margin:5px 5px 5px 5px;
}
</style>
{{end}}
{{block content}}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body bt-border">
                <div class="form-horizontal" role="form">
                    {{=form.custom.begin}}
                    <table width="500" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="right" width="155">符号：</td>
                            <td width="245">{{=form.custom.widget.symbol}}</td>
                        </tr>
                        <tr>
                            <td align="right" width="155">显示：</td>
                            <td width="245">{{=form.custom.widget.name}}</td>
                        </tr>
                        <tr>
                            <td align="right" width="155">描述：</td>
                            <td width="245">{{=form.custom.widget.desc}}</td>
                        </tr>
                        <tr>
                            <td align="right" width="155">状态：</td>
                            <td width="245">{{=form.custom.widget.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-12 ml20 mt15">
            {{=form.custom.submit}}
            </div>
            {{=form.custom.end}}
        </div>
    </div>
</div>
{{end}}

{{block  script}}
jQuery('#no_table_symbol').attr('class','form-control');
jQuery('#no_table_name').attr('class','form-control');
jQuery('#no_table_desc').attr('class','form-control');
jQuery('#no_table_desc').attr('style','height:70px;');
jQuery('#no_table_status').attr('class','form-control');
jQuery('#no_table_status option:first').remove();
jQuery('#sub').attr('class','btn btn-primary block-margin');
jQuery('#cancel').attr('class','btn block-margin');
jQuery('#cancel').click(function(){
        window.location = "{{=URL('index')}}";
});
{{end}}
