{{header = True}}
{{sidebar = True}}
{{bread = True}}

{{extend 'layout.html'}}

{{block head}}
<script type="text/javascript" src="{{=URL('static','assets/js/CustomPagination.js')}}"></script> 
<script src="{{=URL('static','js/logInx.js')}}"></script>
{{end}}

{{block content}}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-control">
                    {{=form.custom.begin}}
                    <table  class="bq">
                        <tr>
                            <td width="7%" align="right">开始时间：</td>
                            <td width="10%" align="left">{{=form.custom.widget.startDate}}</td>
                            <td width="7%" align="right">结束时间：</td>
                            <td width="10%" align="left">{{=form.custom.widget.endDate}}</td>
                            <td width="10%" align="center">{{=form.custom.submit}}</td>
                            <td colspan="5 width="60%"></td>
                        </tr>
                    </table>
                    {{=form.custom.end}}
                </div>
            </div>

            <div class="panel-body">                           
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%">编号</th>
                            <th width="20%">时间</th>
                            <th width="15%">ip</th>
                            <th width="20%">数量</th>
                        </tr>
                    </thead>
                    <tbody id="tblLog" startDate="{{=startDate}}" endDate="{{=endDate}}">
                        {{ for i, r in enumerate(data):}}
                        <tr align="center">
                            <td>{{=i+1}}</td>
                            <td>{{=r.createDate}}</td>
                            <td>{{=r.ip}}</td>
                            <td>{{=r.count}}</td>
                        </tr> 
                        {{pass}}            
                    </tbody>
                </table>

                <div class="mpage">
                    <div class="col-xs-6">
                        <div class="dataTables_info">共 {{=count}} 条信息</div>
                    </div>
                    <div class="col-xs-6">
                        <div id="logPaginate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{{end}}

{{block script}}
jQuery('#sub').attr('class','btn btn-primary block-margin');
jQuery('#no_table_startDate').attr('class','form-control form-input');
jQuery('#no_table_startDate').val("{{=startDate}}");
jQuery('#no_table_endDate').attr('class','form-control form-input');
jQuery('#no_table_endDate').val("{{=endDate}}");
jQuery('#no_table_startDate').datepicker();
jQuery('#no_table_endDate').datepicker();
jQuery(function($){                   
    $.datepicker.regional['zh-CN'] = { 
        closeText: '关闭',  
        prevText: '<上月',                      
         nextText: '下月>', 
        currentText: '今天',                   
        monthNames: ['一月','二月','三月','四月','五月','六月', 
                                    '七月','八月','九月','十月','十一月','十二月'],          
        monthNamesShort: ['一','二','三','四','五','六','七','八','九','十','十一','十二'],                  
        dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
        dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],    
        dayNamesMin: ['日','一','二','三','四','五','六'],              
        weekHeader: '周',              
        dateFormat: 'yy-mm-dd',  
        firstDay: 1,              
        isRTL: false,            
        showMonthAfterYear: true,               
        yearSuffix: '年'};         
        $.datepicker.setDefaults($.datepicker.regional['zh-CN']); 
});

options = {
    'callback': getPaginationInfo,
    'paginationUrl': "{{=URL('logPaginate')}}",
    'fieldText':'跳转到'
}
jQuery("#logPaginate").pagination({{=pageCount}}, 1, options);

{{end}}
