{{header = False}}
{{sidebar = False}}
{{extend 'layout.html'}}
{{block log}}
<section id="login-container">

        <div class="row">
            <div  id="login-wrapper" style="width:25%">
                <div class="panel panel-primary animated flipInY">
                    <div class="panel-heading  login-header">
                        <h3 class="panel-title">登录</h3>
                    </div>
                    <div class="panel-body">
                    	{{=form.custom.begin}}
                       
                            <div class="form-group">
                                <div class="col-md-12">
                                	{{=form.custom.widget.username}}
                                    <!--<input type="user" class="form-control" id="email" placeholder="用户名">-->
                                    <i class="fa fa-user" ></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"  style="margin-top:10px">
                                	{{=form.custom.widget.password}}
                                  <!--  <input type="password" class="form-control" id="password" placeholder="密码">-->
                                   <i class="fa fa-lock"></i>                                   
                                </div>
                                <div class="col-md-12" id="error" style="margin:10px 5px">
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                	{{=form.custom.submit}}
                                    <!--<a href="index.html" class="btn btn-primary btn-block">登录</a>-->
                                </div>
                            </div>
                       
                        {{=form.custom.end}}
                    </div>
                </div>
            </div>
        </div>

    </section>
{{end}}
{{block script}}
jQuery('#auth_user_password').attr('class','form-control');
jQuery('#auth_user_password').attr('placeholder','密码');
jQuery('#auth_user_password').attr('style','padding-left:30px');
jQuery('#auth_user_username').attr('class','form-control');
jQuery('#auth_user_username').attr('placeholder','用户名');
jQuery('#auth_user_username').attr('type','user');
jQuery('#auth_user_username').attr('style','padding-left:30px');
jQuery("[type='submit']").addClass('btn btn-primary btn-block').attr("value","登录");

bCheck=true;
jQuery("[type='submit']").click(function(e){
	jQuery('#error').children().remove();
	var name=jQuery('#auth_user_username').val();
	var passes=jQuery('#auth_user_password').val();
	if(name=="" || passes==""){
		jQuery('div.error_wrapper').remove();
		jQuery('#error').append('<p style="color:red">不能为空</p>');
		return false;
	}else{
		if(bCheck){
		e.preventDefault();
		jQuery.ajax({
			type:'POST',
			data:{'username':name,'password':passes},
			url:"{{=URL('admin','check')}}",
			dataType:"json",
			success:function(data){
				if(data.result == 1){
				jQuery('div.error_wrapper').remove();
		        jQuery('#error').append('<p style="color:red">用户名或密码错误</p>');
		  }else{ 
		  	bCheck=false;jQuery("[type='submit']").click();
		    	}
			}
	});
	}
	}
});
{{end}}
